<launch>

  <node pkg="balance_sw" name="lwaxi" type="lwaxi"/>
  <node pkg="balance_sw" name="adxl345" type="adxl345"/>
  <node pkg="balance_sw" name="currents" type="currents"/>
  <node pkg="balance_sw" name="positions" type="positions"/>
  <node pkg="balance_sw" name="pwms" type="pwms"/>
  <node pkg="balance_sw" name="controller" type="controller"/>

</launch>
